body {
    margin: 0px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: whitesmoke;
}

            .text-animation{
                margin: 200px auto;
                display: flex;
                flex-wrap: wrap;
                color: skyblue;

            }
            .split-text{
                padding: 10px;
                font-size: 90px;

            }
            